@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .stats {
    @apply bg-[#4c7c73] p-5 text-[#eff3f3] flex-1 rounded-md border-[#8ac9bd] border-2;
  }

  .stats-container {
    @apply bg-[#4c7c73] p-4 rounded-lg text-[#eff3f3] border-[#8ac9bd] border;
  }

  .countdown {
    @apply p-5 text-3xl text-center  text-[#eff3f3] rounded-lg lg:min-w-[150px] bg-[#136355];
  }
  .countdown-label {
    @apply lg:min-w-[150px]  text-center uppercase text-[#eff3f3] text-sm pt-4;
  }
}
